.container_border, .flex_common {
    border: 1px dashed black; 
    padding: 5px;
}

.float_div{
    background: rgba(10, 30, 250, 0.5);
    height: 200px;
    width: 150px;
    position: relative;
    top: 30px;
    left: 100px;
}

.flex_common {
    display: flex;
}
.flex_common > * {
    flex: 1;
    margin: 5px;
}

.flex_container {
    display: flex;
}
.flex_container > * {
    background: red;
    border: 1px solid black;
    margin: 5px;
}

.select_created_js[css-property='align-content']:before{
    content: "fdafdas";
}